<!DOCTYPE html>

<html>
<head>
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="~/js/layout.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="~/css/layout.css" rel="stylesheet" />
	@RenderSection("Header")
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
</head>
<body>
	<div class="widget Header" data-version="1" id="header1">
		<div class="container">
			<div id="logo">
				<h1>
					<a href="@Url.Action("Index", "Home")" style="display: block">
						<center>
							@*Viner Hand ITC font*@
							<img alt="Logo" height="75px;" id="Header1_headerimg" src="~/images/main-logo.PNG" width="280px; ">
						</center>
					</a>
				</h1>
			</div>
		</div>
	</div>
	<div class="nav container conteiner-side-margin" style="padding:0 15px;">
		<ul class="menu-list">
			<li><a href="@Url.Action("Index", "Home")">БЛОГ</a></li>
			<li><a href="@Url.Action("Index", "Author")">ПРО АВТОРА</a></li>
			<li><a href="@Url.Action("Index", "Contacts")">КОНТАКТИ</a></li>
			@{ if (User.Identity.IsAuthenticated) {
					<li><a href="@Url.Action("LogOff", "Account")">ВИХІД</a></li>
				} else {
					<li><a href="@Url.Action("Login", "Account")">ВХІД</a></li>
				}
			}
		</ul>
	</div>
	<div class="authorized-user-email container conteiner-side-margin">
		@if (User.Identity.IsAuthenticated) {
			<span class="user-email-label">Ви увійшли як</span> <span class="user-email">@User.Identity.Name</span>
		}
	</div>
	@RenderBody()
</body>
</html>
