@model M.Models.ViewModels.Home.HomeViewModel

@section Header {
	<link href="~/css/home.css" rel="stylesheet" />
	<script src="~/lib/jquery-ui/jquery-ui.js"></script>
	<script src="~/js/home.js"></script>
}

@{ViewBag.Title = "Поки просто блог"; }

<div class="container content conteiner-side-margin">
	<section id="main">
		@foreach (var post in Model.Posts) {
			@if (User.IsInRole("admin")) {
				<div class="post-control-buttons">
					<a href="@Url.Action("edit", "post", new { postid = @post.Id })">
						<span class="glyphicon glyphicon-pencil post-edit-button"></span>
					</a>
					<a delete-href="@Url.Action("delete", "post", new { postid = @post.Id })" data-toggle="modal" data-target=".delete-confirm-modal">
						<span class="glyphicon glyphicon-remove post-remove-button"></span>
					</a>
				</div>
			}
			<div class="post-image img-responsive">
				<img src="@post.ImageUrl" />
			</div>
			<div class="post-desc">
				<span class="post-title">@post.Title</span>
				<div class="post-short-notes">
					<span class="text-nowrap">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						@post.PostingTime.Day @post.GetPostingMonth() @post.PostingTime.Year<span>р</span> @post.GetPostingTime()
					</span>
					&nbsp;
					<span class="text-nowrap">
						<i class="fa fa-comment-o" aria-hidden="true"></i> 5 коментарів
					</span>
				</div>
				<div class="post-wave"><span><br /></span></div>
				<span class="post-info">@Html.Raw(post.GetShortText())</span>
			</div>
			<div class="delimeter">
				<hr style="height:2px;">
				<a href="@Url.Action("index", "detail", new { postId = @post.Id })">
					<div class="read-more">
						<span>ЧИТАТИ ДАЛІ</span>
					</div>
				</a>
				<hr style="height:2px;">
			</div>
		}
	</section>

	<section id="sitebar">
		<h4><span class="about-me-title">ПРО МЕНЕ</span></h4>
		<hr />
		<div class="img-responsive author-image">
			<img src="~/images/author-image.jpg" />
		</div>
		<span class="about-me-desc">
			<h4><b>TAYLOR WONG</b></h4>
			Architecture Designer
			The Japanese call it Hanakotoba, and King Charles II brought it to Sweden from Persia in the 17th century
		</span>
	</section>
</div>

@*Confirmation modal*@
<div class="modal fade delete-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="deleteConfirmLabel">Небезпека !!!</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Ви впевнені, що хочете видалити вибраний пост?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">Відмінити</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Видалити</button>
			</div>
		</div>
	</div>
</div>