@model M.Models.ViewModels.Home.HomeViewModel

@section Header {
	<link href="~/css/home.css" rel="stylesheet" />
	<script src="~/lib/jquery-ui/jquery-ui.js"></script>
	<script src="~/js/home.js"></script>
}

@{ViewBag.Title = "Поки просто блог"; }

<div class="container content conteiner-side-margin">
	<section id="main">
		@foreach (var post in Model.Posts) {
			<div class="post-image img-responsive">
				<img src="@post.ImageUrl" />
			</div>
			<div class="post-desc">
				<span class="post-title">@post.Title</span>
				<div class="post-short-notes">
					<span class="text-nowrap">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						@post.PostingTime.Day @post.GetPostingMonth() @post.PostingTime.Year<span>р</span> @post.GetPostingTime()
					</span>
					&nbsp;
					<span class="text-nowrap">
						<i class="fa fa-comment-o" aria-hidden="true"></i> 5 коментарів
					</span>
				</div>
				<div class="post-wave"><span><br /></span></div>
				<span class="post-info">@Html.Raw(post.Text.Substring(0, post.Text.IndexOf(".", 150)) + "...")</span>
			</div>
			<div class="delimeter">
				<hr style="height:2px;">
				<a href="@Url.Action("index", "detail", new { postId = @post.Id })">
					<div class="read-more">
						<span>ЧИТАТИ ДАЛІ</span>
					</div>
				</a>
				<hr style="height:2px;">
			</div>
		}
	</section>

	<section id="sitebar">
		<h4><span class="about-me-title">ПРО МЕНЕ</span></h4>
		<hr />
		<div class="img-responsive author-image">
			<img src="~/images/author-image.jpg" />
		</div>
		<span class="about-me-desc">
			<h4><b>TAYLOR WONG</b></h4>
			Architecture Designer
			The Japanese call it Hanakotoba, and King Charles II brought it to Sweden from Persia in the 17th century
		</span>
	</section>
</div>